.App {
  text-align: center;
}

.login-page {
  max-width: 600px;
  width: 95%;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comment-container{
  position: relative;
}

.comment-count{
  position: absolute;
  left:17px;
  top:8px;
  font-weight: bolder;
}